* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: #f5f5f5;
}

nav {
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    z-index: 1;
}

nav .menu {
    max-width: 1500px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin-left: 7px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #000;
}

.img {
    background: url(foodimg.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img::before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}

.center {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}

.center .title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.center .sub_title {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.center .btns {
    margin-top: 20px;
}

.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3 ease;
}

.center .btns button:first-child {
    color: #fff;
    background: none;
}

.center .btns button:first-child:hover {
    background: #fff;
    color: #000;
}

.section2 {
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 90px 100px;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 1600px;

}

.section2 .image {
    margin-left: 200px;
    border: none;
}

.section2 .Speisekarte {
    margin-left: 90px;
}

.section2 .Speisekarte h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section2 .Speisekarte p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.6;
}

.section3 {
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 1600px;

}

.section3 .image {
    margin-right: 100px;
    border: none;
}

.section3 .welcome {
    margin-right: 60px;
}

.section3 .welcome h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section3 .welcome p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.6;
}

.section4 {
    height: auto;
    background-color: #fff;
    max-width: 1600px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    position: relative;
}

.section4 .öffnungszeiten {
    margin-right: 150px;
    background: #fafafa;
    padding: 40px;
    border-radius: 12px;
}

.section4 .öffnungszeiten h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section4 .öffnungszeiten p {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.6;
}

.section4 .bild {
    margin-left: 100px;
    border: none;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

footer p {
    font-size: 18px;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

.about {
    background-color: #fafafa;
    padding: 60px 20px;
    font-family: "Open Sans", sans-serif;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about-image {
    width: 45%;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    background-size: cover;
    margin-top: 20px;
}

.about-text {
    width: 45%;
    min-width: 300px;
}

.about-text h2 {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    color: #b8860b;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-text p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: px;
}

.hero{
    background: url('imageservice.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    flex-direction: column;
}
.hero h1{
    font-size: 3em;
    margin-bottom: 10px;
}
.hero p{
    font-size: 1.5em;
}
.hero button {
    margin-top: 10px;
    padding: 15px 25px;
    background-color: #b8860b;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1.1em;
    cursor: pointer;
}
.hero button:hover {
    background-color: #f0c250;
  }
  .main-container{
    height: 100vh;
    width: 100%;

  }
.containers{
    max-width: 800px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    padding: 70px 90px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.9);
}
  h2 {
    text-align: center;
    color:  #f0c250;
    margin-bottom: 50px;
    font-size: 30px;
  }

  label {
    display: flex;
    margin-top: 10px;
    font-size: 1.1em;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
  }

  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  button:hover {
    background-color: #cf711f;
  }
.vedio-background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}
.vedio-background video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#mesage {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: red; /* Standardfarbe für Fehler */
    margin-top: 10px;
    background: transparent;
    position: relative; /* NICHT absolute */
}
#mesage.success {
    color: green; /* Für erfolgreiche Meldungen */
}
.main-conatiner{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.container{
display: grid;
grid-template-columns: 1fr 1fr;
background: #fff;
border-radius: 15px;
box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
width: 80%;
max-width: 900px;
overflow: hidden;
margin-top: 50px;

}
.infoconatct{
    background-color: #b8860b;
    color: white;
    padding: 40px;

}
.infoconatct h1{
   margin: 0 0 10px;
   font-size: 32px;

}
.infoconatct p{
margin: 8px 0;
font-size: 20px;
}
.komtaktformular{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.komtaktformular label{
    font-weight: bold;
    margin-bottom: 5px;
}
.komtaktformular input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}
.komtaktformular input:focus{
  border-color: #d63a2b;
  outline: none;
  box-shadow: 0 0 5px rgba(214, 58, 43, 0.5);
}
.hh{
    color: #b8860b;
    font-size: 20px;
    text-align: center;
}
